
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    --max-width:65vw;

}

p,a{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

h2{
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.title1{
    font-weight: 400;
}

.section1{
    display: flex;
    justify-content: center;
    background-color: #E9F0F6 ;
}


.section1_wrapper{
    display: flex;
    align-items: center;
    width:var(--max-width);

}
.image{
    display: flex;
    justify-content: right;

}

img{
    width: 80%;
    height: 80%;
}


/* shoe cards section style */

.section2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.section2_wrapper{
    display: block;
    width:var(--max-width);

}

.text_wrapper{
    text-align: center;
    margin-bottom: 1px;
    width: 50%;
    margin: auto;
}

.title2{
    margin-bottom: 20px;
}

.sort_bar{
    display: flex;
    justify-content: right;
}

.sort_bar input[type=form]{
    border-radius: 20px;

    margin: 25px 0px;
    padding: 10px 10px;
    width: 17%;
}


.shoe_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 100px;
}


.cards{
    height: 200px;
}


.image_card{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.onhover {
    position: absolute,
}


.view_collection_button{
    display: flex;
    justify-content: center;
}


.collection_button{
    text-decoration: none;
    color: black;
    border: 1px solid;
    margin: 25px 0px;
    padding: 8px 10px;
    border-radius: 15px;
}

.collection_button:hover{
    color: white;
    background-color: black;
    transition: all 0.4s ease;
}

.shoe_display{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.shoe_img{
    height: 10%;
    width: 50%;
}

.text_section{
    margin: 50px 0px 0px 0px;
    width: 600px;
}

.title3{
    font-size: 100px;
}


.buy_now{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid;
    margin: 20px 0px 0px 0px;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: black;
}